/* Resetting some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cards {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 50px;
    color: #007bff;
    margin-bottom: 10px;
}

.info h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover .card {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}
