/* Reset some basic elements */
body, h1, h2, h3, p, ul, ol, li, table, th, td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    margin-bottom: 20px;
    color: #01939c;
}

p, ol {
    margin-bottom: 20px;
}

ul {
    margin: 10px 0 20px 20px;
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #01939c;
    color: #fff;
}

td {
    background-color: #f2f2f2;
}

td.actions a {
    margin-right: 10px;
    text-decoration: none;
    color: #01939c;
}

.action-icon:hover {
    text-decoration: underline;
}

.edit-btn {
    color: #28a745;
}

.delete-btn {
    color: #dc3545;
}

/* Responsive styles */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #01939c;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }
}
